<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/assert/base/style/reset.css}" />
	<link rel="stylesheet" th:href="@{/assert/index/style/main.css}" />
</head>

<body>
	<main>
		<div class="card-login">
			<h1 class="card-cabecalho">Login</h1>
			<form th:data-key="${privateKey}" method="post" id="formLogin" action="/"
				class="form-login">
				<fieldset class="login-campos">
					<label class="nome-do-input" for="usuario">Usuario</label>
					<input minlength="8" maxlength="20" name="username" class="input-formulario-login"
						placeholder="Nome de usuario" id="usuario" type="text" required />
				</fieldset>
				<fieldset class="login-campos">
					<label class="nome-do-input" for="senha">Senha</label>
					<input minlength="8" maxlength="20" name="password" class="input-formulario-login"
						placeholder="Senha" id="senha" type="password" required />
				</fieldset>
				<fieldset class="campo-submit">
					<input type="submit" class="botao-submit" value="Logar" />
				</fieldset>
			</form>
			<p class="error-message">Usuario e/ou senha incorretos</p>
		</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
	<script type="module" th:src="@{/assert/index/script/app.js}"></script>
</body>

</html>